.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.app-title {
  font-size: 1.5em;
}


.grid {
  width: 70vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  align-self: center;
  justify-content: space-around;
}

.circle {
  height: 15%;
  width: 13%;
  background-color: red;
  border-color: yellow;
  border-style: solid;
  border-radius: 50%;

}